.hero{
	width: 60%;	
	overflow: hidden;   
	&__title{
		font-size: 32px;
		font-family: "LatoBold";
		letter-spacing: 2px;
		margin: 0 0 20px;
		&-big{
			text-transform: uppercase;
			display: block;
		}
		@include laptop{
			font-size: 28px;
		}
		@include tablet{
		    margin: 0 0 10px;
		}	
		@include phones{
			font-size: 24px;
		}			
	}
	&__descr{
		margin-bottom: 20px;
		@include phones{
			margin-bottom: 10px;
		}
	}
	&__form{
		display: flex;
    	flex-direction: column;
	    input{
	    	display: block;
	    	margin-bottom: 20px;
	    }
	    @include phones{
    	    align-items: center;
	    }
	}
	@include laptop{
	    width: 70%;	
	}	
	@include phones{
		width: 100%;		
    	margin-top: -80px;
	}
}
.form{	
	&__input-submit{
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		font-family: "LatoBold";
		letter-spacing: 1px;
	}
	&__descr{		
		max-width: 230px;
		font-size: 14px;
  		color: rgba(255, 255, 255, 0.8);
  		@include phones{
  			text-align: center;
  		}
	}	
}