.success{
	margin-bottom: 50px;
	position: relative;
	.container{
		display: flex;
		flex-direction: row;
    	justify-content: space-between;
	}
	&-wrap{
		background-image: url(../img/back_suc.jpg);
    	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-color: black;
		.header{
			margin-bottom: 110px;
			@include laptop{
				margin-bottom: 40px;
			}
		}
	}
	&__title{
		@extend .hero__title;
		margin-bottom: 28px;
	}
	&__text{
		margin-bottom: 20px;
	}
	&__video{
	    width: 540px;
    	height: 260px;
  		// width: 80%;
  		// height: 90%;
  		@include laptop{
  			width: 420px;
    		height: 280px;
  		}
  		@include phones{
  			width: 300px;
   		 	height: 240px;
  		}
	}
	&__left{
		width: 60%;
		@include tablet{
			width: 70%;
			margin: 0 auto;
		}
		@include phones{
			width: 100%;
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: center;
		    padding: 0 10px;
		}
	}
	&__right{
	    width: 18%;
    	// white-space: nowrap;
		font-size: 24px;
		@include laptop{
			width: 22%;
		}
		@include tablet{
	        width: 0;
		}
		@include phones{
			width: 0;
			font-size: 16px;
		}
	}
	&__where{
		display: flex;
		flex-direction: column;
		@include tablet{
			position: relative;
		    flex-direction: row;
		    width: 80%;
		    position: absolute;
		    left: 110px;
    		top: -100px;
		    align-items: baseline;		    
		}
		@include phones{			
		    left: 22px;
		    top: -100px;		    	    
		}
	}	
}
.where__first{
	@include phones{
		position: absolute;
    bottom: -10px;
    left: 0;
	}
}
.where__sec{
	@include phones{
		position: absolute;
        bottom: -35px;
		left: 102px;
	}
}