@font-face {
    font-family: 'LatoRegular';    
    src: url('../fonts/Lato/LatoRegular.woff') format('woff');         
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoBold';    
    src: url('../fonts/Lato/LatoBold.woff') format('woff');         
    font-weight: normal;
    font-style: normal;
}
